<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>情報セキュリティ 第2回レポート答え合わせツール</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>

<body>
	<marquee behavior="alternate" scrollamount="100"><img src="http://www.teu.ac.jp/infomation/2016/images/20160609_01.jpg" alt="みんな大好き宇田先生！" class="img-circle"></marquee>
</body>
</html>
